@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/galaxy-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.newsletter-card {
  width: fit-content;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  padding: 1.5em 1.2em 1em 1.2em;
  border-radius: 20px;
}

.newsletter-header {
  color: white;
}

.newsletter-header-big {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: .5em;
}

.newsletter-header-small {
  font-weight: 100;
  font-size: 1em;
}

.newsletter-form {
  padding: 2em 0 2em 0;
  height: 2.5em;
}

input[type="email"] {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

input:focus {
  outline: none;
}

.newsletter-form-input {
  padding: 0 0 0 2%;
  font-size: 18px;
  width: 50%;
  background-color: rgb(232, 232, 232);
  transition: background-color .2s ease;
  border: 3px solid #846EDB;
  border-right: 0;
  border-radius: 15px 0 0 15px;
}

.newsletter-form-input:hover {
  background-color: rgb(255, 255, 255);
}

.newsletter-form-input:focus {
  background-color: rgb(255, 255, 255);
}

.newsletter-form-submit {
  width: 3em;
  font-size: 1.5em;
  border: 3px solid #846EDB;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  background-color: #846EDB; 
}

.form-send-icon {
  height: 100%;
  transition: padding 0.2s ease;
}

.newsletter-form-submit:hover > .form-send-icon {
  padding: 0 0 0 5px;
}

#toast-container > div{
  -moz-box-shadow: 0 0 12px #846EDB !important;
  -webkit-box-shadow: 0 0 12px #846EDB !important;
  box-shadow: 0 0 12px #846EDB !important;
}